<!DOCTYPE html>
<h1>Color result</h1>
{%if (result)%}


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Origin</th>
            <th>Scoville</th>
            <th>Species</th>
        </tr>
    </thead>
    <tbody>

{%for res in result%}

<!-- table rows -->
<tr>
    <td>{{ res["name"] }}</td>
    <td>{{ res["origin"] }}</td>
    <td>{{ res["scoville"] }}</td>
    <td>{{ res["species"] }}</td>
</tr>
{%endfor%}
</tbody>
</table>

{%else%}

<p>No result</p>

{%endif%}